:root {
  --app-indent: 12px;
  --border-radius-base: 6px;
  --btn-primary-text-color: white;
  --btn-ghost-text-color: rgba(0, 0, 0, 0.65);
  --danger-color: rgb(240, 60, 90);
  --divider-color: rgba(0, 0, 0, 0.1);
  --primary-color: rgb(60, 90, 240);
  --text-color: rgba(0, 0, 0, 0.85);
  --text-secondary-color: rgba(0, 0, 0, 0.65);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  max-width: min(1000px, 100%);
}
